*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(10deg, #694c36, #7e563c, #c79873, #dbb893);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #4b2614;
}
.nav-bar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    padding-top: 10px;
    margin-left: 90px;
    width: 150px;
    height: 100px;
    transition: 0.4s;
    cursor: pointer;
}
.nav-bar img:hover{
    transform: scale(1.2);
}
.anchor-links{
    margin-right: 50px;
}
.anchor-links a{
    background-color: #d8b296;
    font-weight: bold;
    color: #6f4e37;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #1b0e0eab;
    padding: 10px 20px;
    transition: 0.4s;
} 
.anchor-links a:hover{
    background-color: #63331b;
    color: #d3a889;
}
#hero-section{
    height: 300px;
    padding-top: 150px;
    margin-left: 100px;
    display: flex;

 }
.hero-text{
    font-size: large;
    color: #3d1805;
    font-weight: bolder;
}
.hero-text img{
    position: absolute;
    padding-left: 100px;
    margin-top: -70px;
    width: 400px;
    height: 400px;
    opacity: 0.7;
}
.hero-img img{
    height: 300px;
    width: 400px;
    margin-top: -50px;
    padding-left: 200px;
} 
.hero-text a{
    position: absolute;
    margin-top: 20px;
    background-color: #8d6a51;
    color: #2c1d12;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #1b0e0eab;
    padding: 10px 10px;
    transition: 0.4s;
}
.hero-text a:hover{
    background-color: #63331b;
    color: #d3a889;
}
.coffee-category{
    display: flex;
    flex-direction: column;
    height: auto;
}
#heading1{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 90px;
}
.group-coffee{
    padding-top: 40px;
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
}
.coffee{
    background-image: url(./img/bgs/coff-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 175px;
    height: 200px;
    /* background-color:#c79873; */
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px #00000033;
    cursor: pointer;
    transition: 0.8s;
}
.coffee img{
    margin-top: -70px;
    margin-left: -55px;
    position: absolute;
    width: 120px;
    height: 120px;
}
.coffee h6{
    padding-top: 90px;
    color: #f1e4e4;
    font-weight: bold;
    font-size: large;
}
.group-coffee :hover{
    transform: scale(1.2);
}
.coffee-description{
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-evenly;
    padding-top: 300px;
}
.descriptive-img img{
    border-radius: 10px;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-left: 100px;
}
.descriptive-text p{
    padding-top: 100px;
    padding-left: 150px;
    color: #2c1707;
    font-size: x-large;
}
#heading2{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 20px;
}
.group-cold-coffee{
    margin-top: 100px;
   display: flex;
   justify-content: space-evenly;
}
.cold-coffee{
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(46, 14, 14);
    width: 250px;
    height: 250px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.4s ease-in 0.09s;
}
.cold-coffee img{
    padding-top: 30px;
    width: 100px;
    height: 175px;
}
.cold-coffee h6{
    color: #2c1707;
    font-size: larger;
    margin-left: 10px;
}
.group-cold-coffee :hover{
    transform: translateY(-10px);
}
#heading3{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 20px;
}
.group-beans{
    margin-top: 150px;
   display: flex;
   justify-content: space-evenly;
}
.beans{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e0e0e;
    width: 200px;
    height: 200px;
    background-color: transparent;
    cursor: pointer;
}
.beans img{
    margin-top: -120px;
    margin-left: -20px;
    width: 250px;
    height: 300px;
}
.beans h6{
    color: #2c1707;
    font-size: large;
    margin-top: -40px;
    margin-left: 10px;
}
footer{
    margin-top: 100px;
    background-image: url(./img/bgs/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    color: #fff;
}
footer p{
    margin-top: 40px;
}
.offer img{
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
