*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(10deg, #533c2c, #664733, #c79873, #e7c39d);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #4b2614;
}
.nav-bar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    padding-top: 10px;
    margin-left: 50px;
    width: 100px;
    height: 80px;
    transition: 0.4s;
    cursor: pointer;
}
.nav-bar img:hover{
    transform: scale(1.5);
}
.anchor-links{
    margin-right: 50px;
}
.anchor-links a{
    background-color: #d8b296;
    font-weight: bold;
    color: #6f4e37;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #1b0e0eab;
    padding: 10px 20px;
    transition: 0.4s;
} 
.anchor-links a:hover{
    background-color: #63331b;
    color: #d3a889;
}
.hero-section{
    height: 300px;
    padding-top: 150px;
    margin-left: 100px;
    display: flex;

 }
.hero-text{
    font-size: large;
    color: #3d1805;
    font-weight: bolder;
}
.hero-text img{
    position: absolute;
    padding-left: 100px;
    margin-top: -70px;
    width: 400px;
    height: 400px;
    opacity: 0.7;
}
.hero-img img{
    height: 300px;
    width: 400px;
    margin-top: -50px;
    padding-left: 200px;
} 
.hero-text a{
    position: absolute;
    margin-top: 20px;
    background-color: #c79873;
    font-weight: bold;
    color: #6f4e37;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #1b0e0eab;
    padding: 10px 10px;
    transition: 0.4s;
}
.hero-text a:hover{
    background-color: #63331b;
    color: #d3a889;
}
.coffee-category{
    display: flex;
    flex-direction: column;
    height: auto;
}
#heading1{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 90px;
}
.group-coffee{
    padding-top: 40px;
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
}
.coffee{
    background-image: url(./img/bgs/coff-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 175px;
    height: 200px;
    background-color:#c79873;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px #00000033;
    cursor: pointer;
}
.coffee img{
    margin-top: -70px;
    margin-left: -55px;
    position: absolute;
    width: 120px;
    height: 120px;
}
.coffee h6{
    padding-top: 90px;
    color: #f1e4e4;
    font-weight: bolder;
    font-size: x-large;
}